name = "edge-chat-demo"
account_id = "976c1ea65ea1e8130133ab8cfcfafa76"
compatibility_date = "2024-01-01"

main = "src/chat.mjs"

[durable_objects]
bindings = [
  { name = "rooms", class_name = "ChatRoom" },
  { name = "limiters", class_name = "RateLimiter" },
  { name = "roomRegistry", class_name = "RoomRegistry" },
]

[[rules]]
type = "Data"
globs = ["**/*.html"]
fallthrough = false

# Indicate that you want the ChatRoom and RateLimiter classes to be callable as Durable Objects.
[[migrations]]
tag = "v1"                                       # Should be unique for each entry
new_sqlite_classes = ["ChatRoom", "RateLimiter"]

[[migrations]]
tag = "v2"
new_sqlite_classes = ["RoomRegistry"]
